.whyus>h2 {
    text-align: center;
    color: #fff;
    background: #64485c;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.column>p {
    color: #ADADAD;
}

.column {
    text-align: center;
    float: left;
    width: 33.3%;
    padding: 10px;
    background: #501b1d;
}

.column img {
    border-radius: 5px;
}

.column:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s ease-in;
    overflow: hidden;
    padding: 1px;
}
