@media only screen and (max-width: 600px) {
    #images {
        display: flex;
        flex-direction: column;
    }
}

.whyus>h2 {
    text-align: center;
    color: white;
    background-color: #534949;
}

#images {
    display: flex;
    justify-content: space-between;
}

#img1 {
    height: 300px;
    width: 400px;
}

#img2 {
    height: 300px;
    width: 450px;
}

#img3 {
    height: 300px;
    width: 400px;
}