.howitworks>h2 {
    text-align: center;
    background-color: #534949;
    color: white;
    padding: 10px;
}

.howitworks>h2:hover {
    color: blue;
}

#bodaimage {
    width: 700px;
    height: 400px;
}

.howitworks>#howitworks {
    display: flex;
    justify-content: space-between;
}

#howitworks>.easysteps {
    font-size: 18px;
    margin-right: 10px;
    background-color: #53494949;
    border: cadetblue;
    border-width: 50px;
}